<!DOCTYPE html>
<!--suppress ALL -->
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        function fun(){
            const getUsers = () => {
                return fetch("https://jsonplaceholder.typicode.com/users")
                        .then(resp => JSON.stringify(resp.json()))
            }
            $("#div1").html(getUsers());
        }
    </script>
</head>
<body>

<div id="div1"><h2>Let jQuery AJAX Change This Text</h2></div>

<button onclick="fun()">Get External Content</button>

</body>
</html>