<!DOCTYPE html>
<!--suppress ALL -->
<!--Displaying certain parts of Json using Fetch API -->
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>

        function getJson(){
            return fetch("https://jsonplaceholder.typicode.com/users")
                    .then(resp => resp.json())
        }

        function fun(){
            const x = getJson();
            x.then(resp => {
                let str = "";
                resp.forEach(el => {
                    str += el.id
                    str += ". "
                    str += el.name
                    str += "<br>"
                });
            $("#div1").html(str);
            });
        }
    </script>
</head>
<body>

<div id="div1"><h2>Let jQuery AJAX Change This Text</h2></div>

<button onclick="fun()">Get External Content</button>

</body>
</html>