<!DOCTYPE html>
<!--Displaying Json using JQuery ajax-->
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        function fun(){
            $.getJSON( "https://jsonplaceholder.typicode.com/todos/1", function( data ) {
                var items = [];
                $.each( data, function( key, val ) {

                    items.push( key + " " + val +"</br>");
                });
                $( "#div1").html(items);
            });
        }
    </script>
</head>
<body>

<div id="div1"><h2>Let jQuery AJAX Change This Text</h2></div>

<button onclick="fun()">Get External Content</button>

</body>
</html>